
 body {background-image:url("backgroundimage.jpg");
color:white;
background-repeat: no-repeat center fixed ;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#jumbotron{ background-color: black ;
color: white; }
h1{color: white;}
#nav{background-color: black ;
color: white; }}
