
 .main{
   height: 300px;
        width: 300px;
      background:black;
    color: white ;}
    .header {
      width :70% ;
      height: 60px;
      background-color: black ;
      color : white;
    }
    head{ background: black;}
