body{
	background-color: yellow;
}

/* RWD using @media for different screen widths */
@media screen and (max-width: 992px){
	
	body{
		background-color: blue;
	}
	
}

@media screen and (max-width: 600px){
	body{
		background-color: olive;
	}
	
}

